@import url(https://fonts.googleapis.com/css?family=Cabin+Sketch:regular,700);

.header {
  display: flex;
  align-items: center;
  margin-bottom: 2em;
}

.app-name {
  font-family: "Cabin Sketch", cursive;
  color: rgb(59, 40, 12);
  font-size: 6rem;
  font-weight: 600;
  border: 2px solid rgb(13, 63, 13);
  border-radius: 25px;
  background-color: rgba(240, 248, 255, 0.6);
  padding: 0px 95px 0px 95px;
  margin: 0;
}

.logo {
  height: 12em;
  width: 13em;
  margin: .8em 3em 0em 1.5em;
  padding: 2px 0px 8px 0px;
  border: 2px solid rgb(13, 63, 13);
  border-radius: 100px;
  background-color: rgba(240, 248, 255, 0.6);
  cursor: pointer;
  transition: box-shadow 0.3s;
}

.logo:hover {
  animation: bounce 1s infinite; 
  box-shadow: 0 0 10px rgba(211, 222, 7, 1.7);
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@media (max-width: 935px) {
  .header {
    display: flex;
    flex-direction: column;
  }

  .app-name {
    font-size: 4rem;
  }

  .logo {
    height: 8em;
    width: 9em;
  }
}

@media (max-width: 520px) {
  .header {
    display: flex;
    flex-direction: column;
  }

  .app-name {
    font-size: 2.5em;
  }

  .logo {
    height: 7em;
    width: 8em;
  }
}

@media (max-width: 350px) {
  .app-name {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 1.5em;
    font-size: 2em ;
  }
  
  .logo {
    height: 6em;
    width: 7em;
  }
}