body {
  margin: 0;
  padding-bottom: 5em;
  height: 100vh;
  background-image: url('https://c1.wallpaperflare.com/preview/876/681/140/autumn-season-landscape-nature.jpg');
  background-size: cover;
  background-position: center center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
